@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

:root {
	/* Primary Colors */
	--desaturated-dark-cyan: hsl(180, 29%, 50%);

	/* Neutral Colors */
	--bg-light-grayish-cyan: hsl(180, 52%, 96%);
	--filters-light-grayish-cyan: hsl(180, 31%, 95%);
	--dark-grayish-cyan: hsl(180, 8%, 52%);
	--very-dark-grayish-cyan: hsl(180, 14%, 20%);

	/* Font Weights */
	--weight-light: 500;
	--weight-heavy: 700;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Spartan", sans-serif;
	font-size: 15px;
	background-color: var(--bg-light-grayish-cyan);
	min-height: 100vh;
	padding: 0;
	margin: 0;
}

.card {
	background-color: white;
	width: 100%;
	padding: 2rem;
	margin: 2rem auto;
	border-radius: .5rem;
	box-shadow: 0 1rem 3rem -2rem var(--desaturated-dark-cyan);
}

.tag-list {
	list-style: none;
	padding: 0;
	margin: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

.tag {
	font-weight: var(--weight-heavy);
	color: var(--desaturated-dark-cyan);
	padding: .5rem;
	padding-bottom: .3rem;
	background-color: var(--bg-light-grayish-cyan);
	border-radius: .2rem;
}

/* App COMPONENT */
.bg-header {
	width: 100%;
	line-height: 0;
	background-color: var(--desaturated-dark-cyan);
}

.bg-header > img {
	width: 100%;
}

.container {
	width: 80%;
	margin: 0 auto;
}

/* JobFilters COMPONENT */
.filters-menu {
	/* Makes up for the border present left and right on JobListing components for better alignment*/
	padding: 2rem 2.5rem;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 2rem;

	transform: translateY(-3rem);
	/* Negative margin makes up for translation */
	margin-bottom: -3rem; 
}

.filter-tag {
	overflow: hidden;
	padding: 0;
	padding-left: .5rem;

	display: flex;
	justify-content: space-between;
	align-items: baseline;
	column-gap: .5rem;
}

.filter-tag > span {
	display: block;
	padding: .5rem 0 .3rem 0;
}

.filter-button-remove {
	line-height: 0;
	cursor: pointer;
	outline: none;
	border: none;
	padding: 0 .5rem;
	background-color: var(--desaturated-dark-cyan);
	align-self: stretch;
}

.filter-button-remove:hover {
	background-color: var(--very-dark-grayish-cyan);
}

.filter-buton-remove:active {
	opacity: .8;
}

.filter-button-remove > img {
	height: 1em;
}

#clear-filters {
	font-family: "Spartan", sans-serif;
	font-weight: var(--weight-heavy);
	color: var(--desaturated-dark-cyan);
	padding: .5rem;
	padding-bottom: .3rem;
	cursor: pointer;
	background: none;
	outline: none;
	border: none;
}

#clear-filters:hover {
	text-decoration: underline;
}

#clear-filters:active{
	color: var(--very-dark-grayish-cyan);
}

/* JobListing COMPONENT */
.job-listing {
	border-left: .5rem solid white;
	border-right: .5rem solid white;

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 2rem;
}

/* Color the left border on featured job listings */
.featured {
	border-left: .5rem solid var(--desaturated-dark-cyan);
}

/* Job listing header */
.job-header {
	color: white;
	list-style: none;
	padding: 0;
	margin: 0;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

.company-name {
	color: var(--desaturated-dark-cyan);
	font-weight: var(--weight-heavy);
	margin: 0;
}

.featured-tag, .new-tag {
	/* Do not display the NEW! and FEATURED tags unsless necessary */
	display: none;
	font-size: .8em;
	padding: .5rem;
	/* For some reason the text has some whitespace only at the bottom, compensate with smaller padding */
	padding-bottom: .25rem;
	/* Negative margin compensates padding added to avoid compromising layout alignment */
	margin: -0.5rem 0 -0.25rem 0;
	border-radius: 1rem;
}

.new-tag {
	background-color: var(--desaturated-dark-cyan);
}

.featured-tag {
	background-color: var(--very-dark-grayish-cyan);
}

/* Display them when the corresponding class is present on the job listing container */
.featured .featured-tag, .new .new-tag {
	display: block;
}

.logo	{
	line-height: 0;
}

.details {
	/* Occupy all available space and push tags to the right of parent flex */
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.position {
	color: var(--very-dark-grayish-cyan);
	font-size: 1.2em;
}

.info {
	list-style: none;
	padding: 0;
	margin: 0;
}

.info > li {
	display: inline-block;
	color: var(--dark-grayish-cyan);
}

.info > li + li {
	margin-left: .6rem;
}

/* JobTags COMPONENT */
.job-tags > li {
	display: block;
}

.job-tag-button {
	font-family: "Spartan", sans-serif;
	cursor: pointer;
	outline: none;
	border: none;
}

.job-tag-button:hover {
	color: white;
	background-color: var(--desaturated-dark-cyan);
}

.job-tag-button:active {
	opacity: .8;
}