@media screen and (max-width: 800px) {
	.desktop {
		display: none;
	}

	.mobile {
		display: initial;
	}

	.container {
		width: 90%;
	}

	.card {
		padding: 1rem;
	}

	.filters-menu {
		column-gap: 0;
		transform: translateY(-2rem);
		margin-bottom: -2rem;
	}

	.job-listing {
		position: relative;
		padding-top: 3rem;
		margin-top: 4rem;
		gap: 0;
	}

	.logo	{
		position: absolute;
		/* Half the image height */
		top: -44px;
	}

	.details {
		width: 100%;
		padding: 1rem 0;
		border-bottom: 1px solid var(--dark-grayish-cyan);
	}

	.job-tags {
		margin-top: 1rem;
	}
}