@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

:root {
	/* Primary Colors */
	--desaturated-dark-cyan: hsl(180, 29%, 50%);

	/* Neutral Colors */
	--bg-light-grayish-cyan: hsl(180, 52%, 96%);
	--filters-light-grayish-cyan: hsl(180, 31%, 95%);
	--dark-grayish-cyan: hsl(180, 8%, 52%);
	--very-dark-grayish-cyan: hsl(180, 14%, 20%);

	/* Font Weights */
	--weight-light: 500;
	--weight-heavy: 700;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Spartan", sans-serif;
	font-size: 15px;
	background-color: var(--bg-light-grayish-cyan);
	min-height: 100vh;
	padding: 0;
	margin: 0;
}

/* JobListing COMPONENT */
.job-listing {
	background-color: white;
	width: 70%;
	padding: 2rem;
	margin: 2rem auto;
	border-radius: .5rem;
	box-shadow: 0 1rem 3rem -2rem var(--desaturated-dark-cyan);

	border-left: .5rem solid white;
	border-right: .5rem solid white;

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem 2rem;
}

/* Color the left border on featured job listings */
.featured {
	border-left: .5rem solid var(--desaturated-dark-cyan);
}

/* Job listing header */
.job-header {
	color: white;
	list-style: none;
	padding: 0;
	margin: 0;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

.company-name {
	color: var(--desaturated-dark-cyan);
	font-weight: var(--weight-heavy);
	margin: 0;
}

.featured-tag, .new-tag {
	/* Do not display the NEW! and FEATURED tags unsless necessary */
	display: none;
	font-size: .8em;
	padding: .5rem;
	/* For some reason the text has some whitespace only at the bottom, compensate with smaller padding */
	padding-bottom: .25rem;
	/* Negative margin compensates padding added to avoid compromising layout alignment */
	margin: -0.5rem 0 -0.25rem 0;
	border-radius: 1rem;
}

.new-tag {
	background-color: var(--desaturated-dark-cyan);
}

.featured-tag {
	background-color: var(--very-dark-grayish-cyan);
}

/* Display them when the corresponding class is present on the job listing container */
.featured .featured-tag, .new .new-tag {
	display: block;
}

.logo	{
	line-height: 0;
}

.details {
	/* Occupy all available space and push tags to the right of parent flex */
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.position {
	color: var(--very-dark-grayish-cyan);
	font-size: 1.2em;
}

.info {
	list-style: none;
	padding: 0;
	margin: 0;
}

.info > li {
	display: inline-block;
	color: var(--dark-grayish-cyan);
}

.info > li + li {
	margin-left: .6rem;
}

/* JobTags COMPONENT */
.tags {
	list-style: none;
	padding: 0;
	margin: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

.tags > li {
	display: block;
	font-weight: var(--weight-heavy);
	color: var(--desaturated-dark-cyan);
	padding: .5rem;
	background-color: var(--bg-light-grayish-cyan);
}